<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="img/download.png" width="50">
        <h4>Join our cloud powered shopping experience</h4>
        <p>setup your shop in the cloud</p>
    </div>
</div>

<br/>

<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="img/discuss.png" width="50" style="float: left;">
        <h4>Comments and questions</h4>
        <p>We'd love to hear your feedback. Post your questions and comments on the blog...<strong>coming soon</strong></p>
    </div>
</div>

<br/>


<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="img/twitter.png" width="50" style="float: left;">
        <h4>Follow us on Twitter</h4>
        <p><a href="http://twitter.com/warpi">@warpi</a></p>
    </div>
</div>

<br/>


<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="img/blog.png" width="50" style="float: left;">
        <h4>Check out our blog</h4>
        <p><a href="http://warpi.co.ke/blog">http://warpi.co.ke/blog</a></p>
    </div>
</div>
