<div class="navbar navbar-inverse navbar-fixed-top" style="z-index: 10;">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Warpi</a>

            <div class="nav-collapse collapse">

                <ul class="nav">
                    <li class="add-menu"><a href="#shops">Browse shops</a></li>
                    <li class="add-menu"><a href="#shops/add"><i class="icon-edit icon-white"></i> Add Shop</a></li>
                </ul>

                <ul class="nav pull-right">
                    <li class="about-menu"><a href="#about">About</a></li>
                    <!------        
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://documentcloud.github.com/backbone/" target="_blank">Backbone.js</a></li>
                            <li><a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
                            <li><a href="http://nodejs.org/" target="_blank">Node.js</a>
                            <li><a href="http://expressjs.com/mongodb" target="_blank">Express</a>
                            <li><a href="http://www.mongodb.org/" target="_blank">MongoDB</a>
                            </li>
                            <li class="divider"></li>
                            <li class="nav-header">This App</li>
                            <li><a href="#" target="_blank">GitHub Repository</a></li>
                            <li><a href="http://coenraets.org" target="_blank">Author's Blog</a></li>
                        </ul>
                    </li>
                    <!-------------- >
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
