<div class="home-hero">
            <h1>Welcome to Warpi</h1>
            <h3>Your cloud powered shopping experience</h3>

    <br/>
    <div style="opacity: .9;">
        <a class="btn btn-large" href="#shops"><img src="img/shooper.png" class="pull-left" style="margin-right:6px;"/> Start Browsing<br/>Warpi</a>
        <a class="btn btn-large" href="#">
            <img src="img/dummy.png" class="pull-left" style="margin-right:6px"/> Sign Up!<br></a>
    </div>


</div>
<!-----                            !>
<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ccoenraets&repo=nodecellar&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ccoenraets&repo=nodecellar&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      </li>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


      <li class="follow-btn">
        <a href="https://twitter.com/ccoenraets" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @warpi</a>
      </li>

      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://coenraets.org:3000" data-count="horizontal" data-via="ccoenraets">Tweet</a>
      </li>

    </ul>
  </div>
</div>
<!----------------- >

